html, body {
    height: 100%;
}

body {
    background: url("images/heather-ford-pic.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }

.dir {
    padding-top: 30px;
    color: white;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.main-title-section {
}

.main-title {
    font-family: 'Fleur De Leah', cursive;
    font-size: 150px;
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ing {
    padding-top: 30px;
    color: white;
}


@media screen and (max-width: 600px) {
    .main-title {
      font-size: 90px;
    }
  }
